body{
    font-family: "Montserrat";
}

#title{
    background-image: linear-gradient(to bottom right, #E8417E, #EE7F5D);
    /* height: 40rem; */
    overflow: hidden;
}

.container-fluid{
    padding: 3% 13%;
}

h1{
    color: white ;
    font-family: "Montserrat";
    font-size: 3.4rem;
    font-weight: bolder;
    line-height: 1.4;
    size: 3rem;
}
h3{
    font-weight: 850;
    font-size: 120%;
}
h2{
    font-size: 1.8rem;
}
h4{
    /* breed type in pricing section */
    font-weight: 700;
}

/* navbar */

.navbar{
    padding: 1% 0 4%;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 1.4rem;
    font-weight: bold;
}
.navbar-item{
    padding: 0 10px;
}
.nav-link{
    font-weight: lighter;
}

/* download buttons */
.btn{
    margin: 10% 2% 10%;
}
/* title image */
.title-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
    
}

/* features section */
#features{
    background-color: #fff;
    position: relative;
}
.features-box{
    text-align: center;
    padding: 5%;
}


.features-icon{
line-height: 1.8;
color: #ef8172;
transition: all 0.3s linear;
}
.features-icon:hover{
    transform: scale(1.1);
    color: #ff4c68;
}


.features-text{
    color: rgb(123, 109, 109);
}

/* testmonials */
#testimonials{
    background-color: #EA5B70;;
    padding: 7% 13% 2%;
    text-align: center;
    color: white;
}
.testimonial-image{
    width: 15%;
    border-radius: 100%;
    padding: 3% 3%;
}

.carousel{
    margin: 0;
}
.next-prev-icon{
    width: 2%;
}

/* press */
#press{
    background-color:#EA5B70;
    padding: 3% 11% ;
    text-align: center;
}
.press-image{
    width: 15%;
    margin: 2% 2% 3%;

}

/* pricing */
#pricing{
    padding: 3% 13%;
    text-align: center;
}
.card{
    margin: 3% 2%;
}
.pricing-button{
    padding-bottom: 2%;
    background-color: #EA5B70;
    color: white;
}
.pricing-button:hover{
    background-color: #E8417E;
}
/* call to action section */
#cta{
    background-color: #EA5B70;
    padding: 3% 13%;
    text-align: center;
}
.cta-text{
    color: white;
    font-weight: 800;
    font-size: 3.5rem;
    padding: 3% 0 3%;

}
.cta-button{
    margin: 2% 2% 5%;
}

/* footer section */
#footer{
    padding: 5% 13%;
    text-align: center;
    font-size: small;
}
.footer-icon{
    margin: 0 0.6%;
}


@media (max-width:1028px) {
    #title{
        text-align: center;
    }
    .title-img{
        position: static;
        transform: rotate(0);
        width: 80%;
        
    }
    #pricing{
        padding: 7% 13%;
    }
    .card{
        margin: 4% 8%;
    }
    
}